<div class="modal fade show" style="display:flex;" id="exampleModalCenter"  tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="min-width: 400px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{this.selectedProperty}}</h5>
        </div>
        <div class="modal-body">
          {{this.finalString}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="this.clickOnX()">Close</button>
        </div>
      </div>
    </div>
  </div>